.offres{

  background-color: #f3f2ef;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  

}

.filter_button{  height: 35px;
  
  padding-left: 12px;
  padding-right: 5px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0,0,0,0.6);
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
  margin: 10px;
  align-items: center;
  display: flex;
}
  .filter_button_selected{
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #0a66c2;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
    margin: 10px;
    align-items: center;
    display: flex;
  }